{{! handlebars comment is not rendered in output }}
<!-- handlebars template - name -->
<div class="templateBodyItem" style="display:none;">
    {{> templateBodyItemNumberPartial }} 
    {{ templateBodyItem }}
    <div class="templateBodyItemFooter">{{ templateBodyFooter }}</div>
</div>
