/*
http://cwbuecheler.com/web/tutorials/2014/restful-web-app-node-express-mongodb/style.css
*/

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:400px;
	position:relative;
}

#userInfo span.userName,
#userInfo span.userEmail,
#userInfoDetails span.userName,
#userInfoDetails span.userEmail
{
    line-height: 40px;
}
span.userName {
    font-weight: bold;
}
span.userName , span.userEmail {
    font-size: 18px;
    font-style: italic;
    color: #36C;
}
span.userEmail::before {
    content: "<";
    margin-left: 4px;
}
span.userEmail::after {
    content: ">";
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
    display: none;
	width:350px;
	position:absolute;
	top:0; 
    left:0;
    overflow: hidden;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

    #userInfo strong {
        display: block;
        float: left;
        clear: left;
        width: 70px;
        line-height: 26px;
    }

    #userInfo span {
/*        margin-left: 4px;*/
        line-height: 26px;
    }

#userInfoDetails {
    display: none;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

    #userInfoDetails p {
        padding:15px;
        border:1px solid #CCC;
        background:rgba(80,120,255,0.05);
    }

    #userInfoDetails label {
        display: block;
        float: left;
        clear: left;
        width: 70px;
        line-height: 26px;
    }

    #userInfoDetails input {
        /*line-height: 25px;*/
    }

fieldset {
	border:0;
	padding:0; margin:0;
}