extends layout

block content
    h1= title
    p Welcome to the Node REST API User List

    // Wrapper
    #wrapper

        // USER INFO
        #userInfo
            h2 User Info
            p
                span.userName
                span.userEmail
                br
                strong Name:
                | <span class='data' id='userFullName'></span>
                br
                strong Age:
                | <span class='data' id='userAge'></span>
                br
                strong Gender:
                | <span class='data' id='userGender'></span>
                br
                strong Location:
                | <span class='data' id='userLocation'></span>
                br
                br
                button#btnUpdateUser Update User
        // /USER INFO

        // USER INFO DETAILS
        #userInfoDetails
            h2 User Info
            p
                span.userName
                span.userEmail
                br
                label(for='inputUpdateUserFullName') <strong>Name:</strong>
                input#inputUpdateUserFullName(type='text', placeholder='Name')
                br
                label(for='inputUpdateUserAge') <strong>Age:</strong>
                input#inputUpdateUserAge(type='text', placeholder='Age')
                br
                label(for='inputUpdateUserGender') <strong>Gender:</strong>
                input#inputUpdateUserGender(type='text', placeholder='Gender')
                br
                label(for='inputUpdateUserLocation') <strong>Location:</strong>
                input#inputUpdateUserLocation(type='text', placeholder='Location')
                br
                br
                button#btnCancelUpdate Cancel Update
                button#btnSaveUserInformation Save User Information
        // /USER INFO DETAIL

        // USER LIST
        h2 User List
        #userList
            table
                thead
                    th UserName
                    th Email
                    th Delete?
                tbody
        // /USER LIST

        // ADD USER
        h2 Add User
        #addUser
            fieldset
                input#inputUserName(type='text', placeholder='Username')
                input#inputUserEmail(type='text', placeholder='Email')
                br
                input#inputUserFullName(type='text', placeholder='Full Name')
                input#inputUserAge(type='text', placeholder='Age')
                br
                input#inputUserLocation(type='text', placeholder='Location')
                input#inputUserGender(type='text', placeholder='gender')
                br
                button#btnAddUser Add User
        // /ADD USER

    // /WRAPPER
